/* styles/index.module.css */
.container {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    padding: 20px;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .header h1 {
    font-size: 24px;
    color: #333;
  }
  
  .header nav a {
    margin: 0 10px;
    color: #555;
    text-decoration: none;
  }
  
  .main {
    text-align: center;
    margin-top: 50px;
  }
  
  .main h2 {
    font-size: 48px;
  }
  
  .main p {
    margin: 20px 0;
    color: #777;
  }
  
  .main input {
    padding: 10px;
    width: 250px;
  }



.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 500px;
    position: relative;
  }
  
  .closeModal {
    position: absolute;
    right: 10px;
    top: 10px;
    background-color: #ff0000;
    color: #ffffff;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .main button {
    padding: 10px 20px;
    background-color: #563D7C;
    color: #fff;
    border: none;
    margin-left: 10px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }
  
  .footer div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .footer h3 {
    font-size: 16px;
  }
  